<h1>Twitter Clone</h1>
<h3>Login</h3>
<form action="/homepage" method="post">
    <p>Username:</p>
    <input type="text" name="username"/>
    <p>Password:</p>
    <input type="password" name="password"/>
    <br/>
    <br />
    <input type="submit" name="Login" />
</form>
